body {
  background-color: black;
  display: flex;
  flex-wrap: wrap;
  font-family: "DejaVu Sans";
  margin: 0;
  color: red;
}

#clock {
  margin: auto;
}

json {
  display: none;
}

#suppervision_tools {
  display: none;
  margin: 2rem;
  min-width: 15rem;
}

#error_container {
  display: none;
  font-size: 3rem;
  position: fixed;
  top: 0;
  background: black;
  border-color: red;
  border-width: 3px;
  border-style: solid;
  z-index: 1;
}

#peak-meter {
  width: 5em;
  height: 20em;
  margin: 1em;
  margin-left: auto;
}

#peak-meter-legend {
  color: white;
  font-size: 12px;
  text-align: right;
  margin: 5px;
}

.light {
  margin: 1rem;
  margin-left: auto;
  margin-right: auto;
  font-size: 4rem;
}

#on_air_light {
  border-radius: 0.5rem;
  text-align: center;
  vertical-align: middle;
}

#on_air_light.light_on {
  color: #570000;
  background-color: red;
}

#on_air_light.light_off {
  color: #260000;
  background-color: #480000;
}

#live_light {
  border-radius: 0.5rem;
  text-align: center;
  vertical-align: middle;
}

#live_light.light_on {
  color: #570000;
  background-color: red;
}

#live_light.light_off {
  color: #260000;
  background-color: #480000;
}

#listener_counter_container {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  font-size: 4rem;
}

@media (max-aspect-ratio: 4/3) {
  .light {
    font-size: 2rem;
  }
  #listener_counter_container {
    font-size: 2rem;
  }
}
